<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
  window.logoUrl = "<%= image_url('logo.png') %>"
  window.palmTreeUrl = "<%= image_url('palm-tree.png') %>"
  window.logoWhiteUrl = "<%= image_url('poll-paradise-logo-white.png') %>"
</script>

<div id="root"></div>
