.content{
  background-color: white;
}

.main{
  background-color: #4F4F4F;
}

.signature{
  margin-left: 8px;
  padding-bottom: 3px;
  color: white;
}

.top-footer {
  height: 120px;
  background-color: #242725;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer{
  position: relative;
  width: 100%;
  left:0px;
  bottom:0px;
}

.links {
  display: flex;
  margin-right: 8px;
}

.links a {
  display: block;
  padding: 10px;
  color: whitesmoke;
  cursor: pointer;
}


.links a:first-child {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.links a:first-child:hover{
  background-color: #428FCD;
}

.links a:last-child:hover {
  color: lightgray;
}
