.background-image {
  height: 400px;
  background-image: image-url('background-image.jpeg');
  opacity: .2;
  position: relative;
}

.get-started{
  background-color: #F95652;
}

.get-started:hover{
  background-color: #E04E4A;
}

.row {
  display:flex;
  justify-content: center;
}

.text {
  text-align: center;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: 200px
}

.banner button {
  margin-top: 15px;
  width: 220px;
  height: 40px;
}

h2, h4 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.text h2 {
  color: #5491C9;
  font-size: 46px;
  font-weight: 700;
  font-family: 'Source Sans Pro', Helvetica,Verdana,sans-serif;
}

.text h4 {
  font-size: 22px;
  font-weight: bold;
}
//need the min-width because of problems with flex.
body, html {
  height: 100%;
  min-width: 900px;
  min-height: 600px;
}

.main-app, .main, .main-poll{
  height: 100%;
}

#root {
  height: 100%;
}

.fa-caret-down:hover, .fa-caret-right:hover{
  cursor: pointer;
  color: #3F739E;
}


.no-background{
  background-color: transparent ;
}
.main-session{
 flex: 1 0;
}
