.create-poll{
  margin-top: 0px;
}

.create-poll-banner {
  height: 60px;
  display: flex;
  align-items: center;
}

.x-back-to-polls{
  margin-left: 75px;
  margin-top: 0px;
  height: 30px;
  width: 40px;
  border-radius:3px;
  font-weight: bold;
  background-color: #F95652;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica,Verdana,sans-serif;
  color: white;
}

.x-back-to-polls:hover{
  background-color: #E04E4A;
}

.main-poll{
  background-color: #d3d3d3;
}

.poll-form, .poll-selection{
  background-color: #d3d3d3;
  border: none;
}

.poll-creation{
  width: 950px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.main-poll{
  background-color: #d3d3d3;
}

.poll-selection-item{
  background-color: white;
  height: 115px;
  width: 115px;
}


.poll-create::placeholder{
  width: 100%;
  font-size: 12.8px;
  color: lightgray;
}

.poll-form{
  display: flex;
  justify-content: center;
}

.poll-creation-plus{
  height: 35px;
  width: 35px;
  color: #5CE3DC;
  margin-top: 0px;
  background-color: white;
}


.left-create-banner{
  width: 50%;
}

.right-create-banner{
  width: 50%;
}

.group-dropdown{
  width: 80%;
  height:50px;
  border: none;
}

.poll-create:first-of-type {
  margin-bottom: 15px;
}

.poll-create{
  background-color: white;
  box-sizing: border-box;
  margin-top: 0;
  padding-left: 5px;
  width: 100%;
  margin-bottom: 8px;
  font-size: 12.8px;
}

.right-create-banner{
  display: flex;
  justify-content: flex-end;
}

.create{
  margin-top: 0px;
  width: 115px;
  height: 50px;
  background-color: #6193c5;
  color: white;
  font-family: 'Source Sans Pro', Helvetica,Verdana,sans-serif;
}

.create:hover {
  background-color: #3c749e;
}

.bottom-create-buttons{
  border-top: 1px dashed #FBFBFB;
  display: flex;
  padding-top: 20px;
  padding-bottom:20px;
  align-items: center;
  justify-content: space-around;
}

.add-activity{
  margin-top: 0px;
  margin-right: 8px;
  width: 200px;
  height: 50px;
  color: #8D9195;
  background-color: #E6E6E6;
}

.add-activity:hover{
  color: black;
}
