.create-poll{
  margin-top: 0px;
}

.create-poll-banner {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.x-back-to-polls{
  flex:  1 0 0;
  margin-left: 75px;
  margin-top: 0px;
  height: 30px;
  width: 40px;
  border-radius:3px;
  font-weight: bold;
  background-color: #F95652;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica,Verdana,sans-serif;
  color: white;
}

.x-back-to-polls:hover{
  background-color: #E04E4A;
}


.poll-form, .poll-selection{
  background-color: #d3d3d3;
  border: none;
}

.poll-creation{
  width: 950px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.main-poll{
  height: 89.5%;
  background-color: #d3d3d3;
}

.poll-selection-item{
  background-color: white;
  height: 115px;
  width: 115px;
}


.poll-input::placeholder{
  width: 100%;
  font-size: 12.8px;
  color: lightgray;
}

.poll-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poll-creation-plus{
  height: 35px;
  width: 35px;
  color: #5CE3DC;
  margin-top: 0px;
  background-color: white;
}


.left-create-banner{
  width: 50%;
}

.right-create-banner{
  width: 50%;
}

.group-dropdown{
  width: 80%;
  height:50px;
  border: none;
}

.poll-input-item{
  height: 41px;
  background-color: white;
  box-sizing: border-box;
  margin-top: 0;
  width: 100%;
  margin-bottom: 8px;
  font-size: 12.8px;
  display: flex;
}

.poll-input{
  padding-left: 5px;
}

.right-create-banner{
  display: flex;
  justify-content: flex-end;
}

.create{
  margin-top: 0px;
  width: 115px;
  height: 50px;
  background-color: #6193c5;
  color: white;
  font-family: 'Source Sans Pro', Helvetica,Verdana,sans-serif;
}

.create:hover {
  background-color: #3c749e;
}

.bottom-create-buttons{
  border-top: 1px dashed #FBFBFB;
  display: flex;
  padding-top: 20px;
  padding-bottom:20px;
  align-items: center;
  justify-content: space-around;
}

.delete-answer-choice{
  list-style: none;
  cursor: pointer;
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #E5E5E5;
}

.fa-trash{
  font-size: 16px;
  color: #CFD1D4;
}

.add-activity{
  margin-top: 0px;
  margin-right: 8px;
  width: 200px;
  height: 50px;
  color: #8D9195;
  background-color: #E6E6E6;
}

.right-banner{
  width: 760px;
}

.poll-input-item-errors{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question-error{
  border: 1px solid #DA514A;
}

.answer-choice-error:first-of-type{
  border: 1px solid #DA514A;
}

.poll-question{
  margin-bottom: 15px;
}


.polls-index{
  margin-bottom: 25px;
}

.add-activity:hover{
  color: black;
}

.poll-input{
  width: 100%;
}

.poll-input:focus{
  border: 2px solid #51B2FA;
  box-shadow: 0 0 .25em #51B2FA;
}

.answer-choice-error-message, .question-error-message{
  border: none;
  color: #d95347;
  letter-spacing: .5px;
  font-size: 11px;
}

.question-error-message{
  background-color: white;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-choice-error-message{
  background-color: #d3d3d3;
  height: 20px;
  margin-bottom: 3px;
  display: flex;
}
