.poll-create-container{
  width: 525px;
  height: 338px;
  margin: -20%;
  background-color: white;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  margin-top: -20%;
}

.poll-create-bottom-button{
  display: flex
}

.main-poll-create{
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
}

.main-poll-create-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #E8E8E8;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  color: #303334;
  font-family: "Source Sans Pro";
}



.poll-create-modal-errors{
  margin-top: 12px;
  position: relative;
  border: none;
  color: #d95347;
  letter-spacing: .5px;
  font-size: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.group-dropdown-main, .new-group-title{
  margin-top: 15px;
  color: #2873A1;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 15px;
}

.new-group-title{
  margin-top: 5px;
}

.poll-create-dropdown {
  height: 50px;
  width: 495px;
}

.group-dropdown-title{
  margin-bottom: 5px
}

.new-group-title-banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.middle-poll-create{
  margin-top: 70px;
  text-align: center;
  font-family: "Source Sans Pro";
  color: #303334;
  font-size: 20px;
  font-weight: bold;
}

.poll-create-group-text{
  border: 1px solid #959595;
  height: 50px;
  width: 487px;
  border-radius: 0px;
  -webkit-appearance: none;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  padding-left: 8px;
  background-color: rgb(248, 248, 248);
  margin-left: 15px;
}

.poll-create-dropdown-menu{
  position: absolute;
  display:flex;
}

.create-new-group-button{
  margin: 0 auto;
  margin-top: 15px;
  height: 45px;
  width: 40%;
  background-color: #303334;
  color: #E2E2E2;
  font-family: 'Source Sans Pro';
  font-size: 15px;
}

.poll-create-overlay{
  height: 50px;
  width: 50px;
  font-size: 20px;
  border-radius: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BBBFC3;
  color: white;
  position: relative;
  pointer-events: none;
  right: 50px;
  z-index:1;
}


.poll-overlay-carrot{
  font-size: 25px;
}

.poll-overlay-carrot:hover{
  color: white;
}


.group-error{
  border: 1px solid #d95347;
}
