.main-polls-show{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-style: "Lucida Grande";
}

.active{
  font-weight: bold;
  font-size: 13px;
  color: #5490C6;
}

.group-delete{
  margin-left: 10px;
  color: #3c749e;
}

.number-of-activities{
  width: 80px;
  text-align: center;
}

.chart-show-left{
  // min-width: 750px;
  width: 67%;
  padding: 38px;
  flex-grow: 1;
}

.chart-show-grid{
  display: flex;
  height: 100%;
}

.how-to-respond{
  height: 95%;
  font-size: 13px;
  background-color: #E9EFF4;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 20px;
}

.chart-title{
  font-size: 40px;
  font-style: "Source Sans Pro";
  font-weight: bold;
  background-color: #5491C9;
  height: 55px;
  color: white;
  text-align: center;
}

.chart{
  padding: 15px;
  border: 1px solid #E7E7E7;
}

.chart-show-right-body{
  height: 100%
}

.chart-show-right{
  display: flex;
  width: 33%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
  max-width: 325px;
}

.how-to-respond-title{
  margin-top: 0px;
  height: 40px;
  background-color: #CCDCE7;
  border-bottom: 1px solid #E9EFF4;
  font-size: 13px;
  color:#255071;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.how-to-respond-body{
  font-size: 12px;
  font-style: "Lucida Grande";
  margin-top: 5px;
}

.chart-show-right-footer{
  display: flex;
  font-size: 13px;
}

.chart-show-right-footer{
  height: 40px;
}

.chart-show-activate, .chart-show-share,
.chart-show-delete{
  width: 33.3333333%;
  background-color: #255071;
  font-style: "Lucida Grande";
  font-weight: bold;
  border-radius: 0px;
}

.chart-show-activate:hover,
.chart-show-share:hover,
.chart-show-delete:hover{
  background-color: #203348;

}

.recharts-surface{
  overflow: visible;
}

.recharts-responsive-container{
  margin: 0 auto;
}


.poll-response-url{
  margin-top: 5px;
  resize: none;
  width: 100%;
  height: 50px;
}
.fa-globe{
  margin-right: 5px;
}

.configure{
  width: 100%;
  height: 40px;
  background-color: #3C739C;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 15px;
}
