.main-polls{
  display: flex;
  background-color: white;
  min-height: 500px;
}

.palm-tree{
  max-height: 35px;
  width: auto;
}


.my-polls-sidebar{
  width: 180px;
  display: flex;
  justify-content: center;
}

.checkbox{
  margin-top: 3px;
  margin-right: 10px;
  height: 13px;
}

.my-polls-header{
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #203349;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.my-polls-header-left {
  height: 100%;
  display: flex;
}

.dropdown-menu{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-text {
  font-size: 13px;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0px 15px;
  font-weight: normal;
}
.fa-cog{
  margin-left: 5px;
}

.dropdown-text:hover {
  background-color: #1f4360;
}

.my-polls-header-right {
  height: 100%;
  width: 170px;
}

.plus {
  background-color: #3c749e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 53px;
}

.plus:hover {
  background-color: #4382b0;
}

.polls {
  background-color: #255073;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  font-size: 15px;
}

.my-polls-sidebar button {
  font-family: "Source Sans Pro";
  width: 150px;
  font-weight: bold;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 15px;
  border-radius: 3px;
  font-size: 12.8px;
  height: 35px;
  width: 150px;
  color: white;
  background-color: #F95652;
}

.my-polls-sidebar button:hover {
  background-color: #E04E4A;
}

.right-group {
  display:flex;
  align-items: center;
}

.my-polls h2 {
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode",Sans-serif;
  font-size: 12.8px;
  font-weight: bold;
  margin: 0px;
  margin-left: 18px;
}

.fa-spinner {
  margin-top:100px;
  margin-bottom: 100px;
  font-size: 200px;
}

.left-group{
  display: flex;
  align-items: center;
  margin-left: 18px;
  width: 80px;
  background-color: #ccdce8;
}

.group-bar {
  background-color: #ccdce8;
  display:flex;
  height: 40px;
  justify-content: space-between;
  margin-top: 15px;
}

.right-group-view {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #3c749e;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 12.8px;
}

.dropdown-text p {
  margin-right: 5px;
  font-family: "Lucida Grande","Lucida Sans","Lucida Sans Unicode";
  font-weight: normal;
  font-size: 12.8px;
}

.poll-view-banner{
  display: flex;
  align-items: center;
  margin-top: 20px;
  height: 30px;
}

.question-view  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: #E9EFF4;
  border-top: 1px solid white;
}

.question-view:hover {
  background-color: #d8e3ec;
}

.question-view  a {
  color: #3c749e;
  font-weight: normal;
  font-size:12.8px;
}

.question-view  a:hover{
  text-decoration: underline;
  color: #d95347
}

.active-question{
  background-color: #BAF4C5;
}

.active-question:hover {
  background-color: #82F6A8;
}

.polls-index{
  padding-bottom: 15px;
  padding-right: 15px;
  width: 100%;
}

.right-row-question {
  margin-right: 27px;
}

.left-row-question {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.left-row-question a {
  margin-left: 10px;
}

.inactive {
  visibility: hidden;
}

.active {
  cursor: pointer;
  margin-right: 15px;
}

.fa-check, .poll-banner-text {
  color: #8b8c8c;
  font-size: 12.8px;
  background-color: #e5e5e5;
  cursor: pointer;
  border-radius: 3px;
}


.fa-check:hover, .poll-banner-text:hover{
  color: black;
}

.fa-check{
  padding: 10px
}

.poll-banner-text{
  padding:8.3px;
}

.fa-caret-down:focus {
  border: 1px solid black;
}


.poll-input-item {
  border:none;
}

.poll-inputs {
  margin-bottom: 15px;
}

.loading{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #255071;
  background-color: white;
}

.dropdown-items{
  position: absolute;
}

.poll-view-dropdown{
  position: relative;
  top:47px;
  // right: 100px;
}

.dropdown-text{
  width: 170px;
}

.logout-item{
  display: flex;
  align-items: center;
  height: 40px;
  width: 169px;
  border-bottom: 2px solid #EDEDED;
  border-left: 1px solid #EDEDED;
}

.logout-button{
  text-align: left;
  height: 100%;
  width: 100%;
}

.logout-button:hover{
  border-left: 2px solid #203349;
  padding-left: 8px;
  background-color: #e9eff4;
}



.poll-view-dropdown, .logout-item, .logout-button{
  box-sizing: content-box;
}

.logout-button{
  color: #255073;
  background-color: white;
  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
  padding-left: 10px;
}

.fa-thumbs-up:hover {
  text-decoration: none;
  color: #82F6A8;
}

.fa-thumbs-down:hover {
  text-decoration: none;
  color: red;
}
