.session-form {
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
  color: #4F4F4F;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", Helvetica, Verdana, sans-serif;
}

h2 {
  font-size: 32px;
}

.session-form-element {
  margin-top: 25px;;
  display: block;
}

.auth-input {
  margin-top: 3px;
  display: block;
  border: 1px solid #D8E4F1;
  width: 437px;
  height: 41px;
  padding-left: 8px;
}

.auth-input:focus{
  border: 2px solid #51B2FA;
  box-shadow: 0 0 .25em #51B2FA;
}

.auth-form-button {
  margin-top: 25px;
  width: 437px;
  height: 36px;
  background-color: #F95652;
  color: white;
  text-align: center;
}

.auth-form-button:hover {
  background-color: #E04E4A;
}

//can I do better than this? this is a bit hacky.
.session-redirect-text{
  margin-top: 35px;
  width: 437px;
  height: 36px;
  display: block;
  text-align: center;
}

.session-redirect-text a {
  text-decoration: underline;
}

.session-errors{
  margin-top: 10px;
}


.session-errors li {
  background-color: #FDD1CE;
  height: 50px;
  width: 460px;
  font-weight: normal;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
